.beverageCardList {
  padding: 0.5rem;
}

.beverageCardListHeader {
  display: flex;
  flex-direction: row;
}

.beverageCardListItem {
  margin-top: 1rem;
}

.beverageCardListSummary {
  margin-top: 1rem;
}
